* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.maindiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(34, 20, 163);
  box-shadow: 0 0 20px rgb(2, 7, 18);
  animation: animate 10s linear infinite;
}

.maindiv::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: rgb(9, 11, 15);
}

.Welocme {
  color: rgb(131, 113, 198);
  font-size: 7rem;
  position: absolute;
  top: 150px;
  background-color: transparent;
  border: 3px;
  z-index: 10;
  border: 10px solid rgb(18, 26, 51);
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(168, 169, 166);
  text-shadow: 1px 10px 10px rgb(95, 94, 114);
  cursor: pointer;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.maindiv span {
  bottom: 0;
  z-index: 1;
  margin: 0 4px;
  height: 8px;
  width: 8px;
  background-color: #4fc3dc;
  border-radius: 50px;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 0 5px#4fc3dc, 0 0 3px 10px#1503d9,
    0 0 10px 3px rgb(135, 218, 19), 1px 2px 3px 10px yellow;
  animation: animateBubble 0s linear infinite;
  animation-duration: calc(2000s / var(--1));
}

.maindiv span:nth-child(even) {
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 0 5px#07ed0a, 0 0 30px 10px#1503d9,
    0 0 10px 3px rgb(135, 218, 19),1px 2px 30px 10px yellow;
}
@keyframes animateBubble {
  0% {
    transform: translateY(100vh) scale(1);
  }
  50% {
    transform: translateY(-50vh) scale(0.2);
  }
  100% {
    transform: translateY(-100vh) scale(0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .Welocme {
    font-size: 5rem;
    top: 40%;
  }
}

@media (max-width: 576px) {
  .Welocme {
    font-size: 3rem;
    top: 40%;
  }
}
